@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: white;
  /* scroll-behavior: smooth; */
}
.hero-image{
  background-size: cover;
  width: 1260px;
  height: 100vh;
}
.navbar{
    width: 1240px;
    height: 80px;
    flex-shrink: 0;
    display: inline-flex;
    margin-top:20px;
}
.logo{
  display: inline-flex;
  margin: 10px 20px 10px 90px;
    align-items: center;
    gap: 24px;
    color: #FFF;
      font-family: DM Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 100% */
}
.search{
  
   display: flex;
    width: 525px;
    height: 40px;
    padding: 6px 10px;
    margin:15px 20px 10px 70px;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #D1D5DB;
    
}

.search ::svg{
  width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.menu{
  display: inline-flex;
    align-items: center;
    margin: 10px 10px 10px 110px;
    gap: 27px;
    color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.description-box{
  margin-top: 50px;
  margin-left: 90px;
  box-sizing:border-box;
  display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.hero-movie-title{
  color: #FFF;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 116.667% */
}
.rating{
display: inline-flex;
  align-items: center;
  gap: 10px;
}
.hero-movie-descrption{
  color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 128.571% */
}
.watch-trailer-button{
  display: flex;
    padding: 6px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
   background-color: #BE123C;
}


/* .footer{
  display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
    
    margin:15px 60px 25px 460px;
} */
.ft{
color: #111827;
}
.social{
  display: flex;
    align-items: center;
    gap: 48px;
}
.links{
  display: flex;
    align-items: flex-start;
    gap: 48px;
    color:  #111827;
      font-family: DM Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
}
 
h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* .card {
   border:none;
} */

/* .card:hover {
  background-color: #fff !important;
  color: black !important;
} */

/* .card-img-top2 { */
  /* height: 400px; */
  /* border-radius: 34px; */
  /* width: 250px; */
  /* height: 370px; */
/* } */

.button,
.buttons {
  border-radius: 34px;
  font-size: 16px;
  font-weight: 600;
  border: none !important;
}

.button:hover,
.buttons {
  background-color: darkblue !important;
}

.search {
  padding: 0 2%;
  text-transform: capitalize;
}

/* .search::placeholder {
  font-weight: bold;
  color: grey;
  font-size: 20px;
  padding: 0 2%;
} */

a:hover {
  color: red;
}
/* test from gpt */
.featured-movies {
  margin-top: 20px;
  color: #000;
    
}
.featured-movies h2{
  margin-left: 40px;
  font-family: DM Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.movie-grid {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px;
  margin-left: 40px;
  margin-right: 40px;
  
}

.movie-card {
  background-color: transparent;
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  border: none;
  margin: 0 3%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-title {
  /* padding: 10px; */
  /* font-size: 18px; */
  padding: 0 2px 2px 2px;
  font-weight: bold;
  color: #000;
}

.movie-release {
  padding: 0 2px 2px 2px;
  font-size: 18px;
}
.rating2 {
  display: inline-flex;
  align-items: center;
  padding: 0 2px 2px 2px;
  margin-top: 1px;
  gap: 10px;
}

.movie-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  /* object-fit: cover; */

}
.sidebar-Links{
text-decoration: none;
width: 226px;
  height: 86px;
  flex-shrink: 0;
  display: inline-block;
}
.sb-dimensions{
width: 226px;
  height: 80vh;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.30);
  border-radius: 0px 45px 45px 0px;
  display:block;
 
}
.lg-sb-tx{
  color: #333;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: inline-flex;
      align-items: center;
      gap: 24px;
    
}
.sb-tx{
  color: #666;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
      align-items: center;
      gap: 20px;
}


/*                    Respomsive                      */
/*                    FOR MOBILE                      */
@media (min-width: 300px) and (max-width: 576px) {
  /* .hero-image{
    /* background-size: cover; */
        /* width: 100%;
        height: auto; */
    /* width: max-content; */
    
  /* } */ */
  .header {
    font-size: 25px;
  }

  .header1 {
    display: none;
  }

  .movie-card {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 45%;
    padding: 0;
    margin-left: 3%;
  }

  .movie-card {
    margin: 0 3%;
    width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card-img-top {
    height: 70%;
    width: 100%;
  }

  .movie-title {
    font-size: 18px !important;
  }

  .movie {
    font-size: 13px !important;
  }

  .button,
  .buttons {
    font-size: 12px;
  }

  .footer1 {
    font-size: 14px;
  }
}

/*                            FOR TABLET                  */
@media (min-width: 576px) and (max-width: 768px) {
  .card-img-top {
    height: 70%;
    width: 100%;
  }

  .card-title {
    font-size: 15px !important;
  }

  .movie {
    font-size: 13px !important;
  }

  .button,
  .buttons {
    font-size: 12px;
  }

  /* .header {
    display: none;
  } */

  .footer {
    font-size: 14px;
  }
}
.fixed{
  margin-top:20px;
  border-radius: 20px;
}
/*                            FOR DESKTOP                  */
@media (min-width: 768px) and (max-width: 980px) {
  .card-img-top {
    height: 10%;
    width: 100%;
  }

  .card-title {
    font-size: 15px !important;
  }

  .movie {
    font-size: 13px !important;
  }

  .button,
  .buttons {
    font-size: 12px;
  }

  /* .header {
    display: none;
  } */

  .footer {
    font-size: 14px;
  }
}